@import url("https://fonts.googleapis.com/css2?family=Karla:wght@400;500;700&family=Poppins:wght@400;500;600&display=swap");

:root {
  --primer-color: #ff6100;
  --segundo-color: #75cfe9;
  --dark-color: #3d3d3d;
  --light-color: #fff;
  --azul-fuerte: #2661b9;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  scroll-behavior: smooth;
}

body {
  font-family: "Karla", sans-serif;
  color: var(--primer-color);
  margin: auto;
  width: 1024px;
}

a {
  text-decoration: none;
  color: var(--primer-color);
}

li {
  list-style: none;
}

.header {
  position: relative;
  height: 557px;
  display: flex;
  justify-content: space-between;
  padding-top: 20px;
  font-weight: 500;
  background-image: url(../imgs/hero-banner.png);
  background-repeat: no-repeat;
}

#header-logo {
  display: block;
  width: 289px;
  height: 86px;
  margin: 0 0 0 24px;
}

header nav {
  width: 537px;
  height: 23px;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  font-size: 20px;
  margin: 32px 84px 0 0;
}

header nav a {
  padding: 10px;
  transition: 0.5s;
}

header nav a:hover {
  text-shadow: 0px 1px 30px hsla(193, 73%, 69%, 0.39);
  color: hsl(193, 73%, 69%);
}

#hero-banner {
  position: absolute;
  top: 135px;
  left: 100px;
}

#hero-banner h1 {
  width: 399px;
  font-size: 48px;
  font-weight: bold;
}

#hero-banner h2 {
  width: 336px;
  font-size: 24px;
  font-weight: normal;
}

#hero-banner div {
  width: 354px;
  height: 68px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-top: 32px;
}

#hero-banner div a {
  display: block;
  width: 148px;
  height: 58px;
  font-size: 22px;
  font-weight: bold;
  border: solid 3px var(--primer-color);
  border-radius: 8px;
  text-align: center;
  padding-top: 12px;
  background-color: var(--light-color);
  transition: 0.5s;
  margin-top: 90px;
}

#hero-banner #abrir-modal {
  background-color: var(--primer-color);
  color: var(--light-color);
}

#hero-banner div a:hover {
  background-color: var(--primer-color);
  color: var(--light-color);
}

#hero-banner #abrir-modal:hover {
  background-color: var(--light-color);
  color: var(--primer-color);
  border: solid 3px var(--primer-color);
}

/* BANNER SECUNDARIO - "NOSOTROS" */

.banner--secundario {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  font-size: 24px;
  padding-right: 109px;
  padding-top: 80px;
  max-width: 1024px;
  margin: 0 auto;
}

.banner--secundario__imagen {
  width: 574px;
  height: 499px;
}

.banner--secundario__titulo {
  padding-bottom: 38px;
}

/*--------------- TESTIMONIOS --------------------*/

/* Titulo */

#testimonios h2 {
  text-align: center;
  margin-top: 40px;
  margin-bottom: 40px;
  font-size: 36px;
  font-weight: bold;
}

/* Sliders */

.slider {
  height: 322px;
  width: 255px;
  margin: auto;
  position: relative;
  display: grid;
  place-items: center;
  overflow: hidden;
}

.slide-track {
  display: flex;
  width: calc(149px * 9);
}

.slide-track:hover {
  animation-play-state: paused;
}

@keyframes scroll {
  0% {
    transform: translateX(0);
  }

  100% {
    transform: translateX(calc(-250px * 8));
  }
}

.slide {
  height: 322px;
  width: 255px;
  display: flex;
  align-items: center;
  padding: 15px;
  perspective: 100px;
}

.slide img {
  width: 100%;
  transition: transform 1s;
}

.slide img:hover {
  transform: translateZ(20px);
}

/* Sombras y gradientes */

.slider::before,
.slider::after {
  background: linear-gradient(to right,
      rgba(255, 255, 255, 1) 0%,
      rgba(255, 255, 255, 0) 100%);
  content: "";
  height: 100%;
  position: absolute;
  width: 15%;
  z-index: 2;
}

.slider::before {
  left: 0;
  top: 0;
}

.slider::after {
  right: 0;
  top: 0;
  transform: rotateZ(180deg);
}

/*--------------- BUSQUEDA DONADORES --------------------*/

#buscar-donadores {
  height: 1057px;
  margin-top: 1px;
  text-align: center;
  margin-bottom: 131px;
}

#buscar-donadores div {
  background-repeat: no-repeat;
  height: 957px;
}

#ingresar-donacion {
  margin-top: 55px;
  display: block;
  justify-content: space-around;
  background-image: url(../imgs/bgi-contactar-donadores.png);
}

#buscar-donadores h3,
#buscar-comedores h3 {
  font-size: 36px;
  font-weight: bold;
}

#ingresar-donacion h2 {
  font-size: 62px;
  font-weight: bold;
  margin-bottom: 102px;
}

#ingresar-donacion h4 {
  font-size: 40px;
  margin: 52px 0 18px 0;
  font-weight: 400;
}

#ingresar-donacion input {
  width: 455px;
  height: 36px;
  font-size: 23px;
  font-weight: 500;
  background-color: hsla(0, 0%, 17%, 0.169);
  border: black 1px solid;
  transition: background-color 0.3s ease;
}

#ingresar-donacion input:focus {
  outline: none;
  background-color: hsla(0, 0%, 50%, 0.17);
}

img[alt="Buscar-Donador"] {
  vertical-align: middle;
  margin: 0 0 7.5px 0;
  padding: 8px;
  opacity: 0.3;
}

/*------------Resultados Donadores--------------------------------------------------------*/
#resultados-donadores {
  background-image: url(../imgs/bgi-resultados-donadores.png);
  border: #43434300 solid 3px;
  margin-top: 55px;
  position: relative;
}

#resultados-donadores h2 {
  margin: 208px auto 91px auto;
  width: 477px;
  height: 76px;
  font-size: 80px;
}

#resultados-donadores #carrusel-donadores {
  width: 1010px;
  height: 402px;
  margin: auto;
  display: flex;
  align-items: center;
  gap: 10px;

}

#carrusel-donadores #donadores {
  width: 840px;
  height: 402px;
  margin: auto auto auto 4px;
  padding-left: 10px;
  display: flex;
  overflow: hidden;
  scroll-behavior: smooth;
}

#btn-back-resultado-donador,
#btn-next-resultado-donador {
  height: 68px;
  background-color: transparent;
  border: none;
}

#btn-back-resultado-donador,
#btn-next-resultado-donador:hover {
  cursor: pointer;
}

/* articulos del carrusel donadores */

.donador {
  width: 255px;
  height: 398px;
  box-shadow: 5px 6px 6px rgba(0, 0, 0, 0.22);
  margin-right: 24px;
}

.donador #parte-superior {
  height: 176px;
  width: 255px;
  background-color: white;
  border-top-right-radius: 8px;
  border-top-left-radius: 8px;
  padding-top: 12px;
  overflow: hidden;
}

#parte-superior h3 {
  font-size: 30px;
  margin-bottom: 33px;
  overflow-wrap: break-word;
}

#parte-superior p {
  width: 220px;
  overflow-wrap: break-word;
  margin: auto;
  color: #1e1e1e;
  font-style: italic;
}

#parte-superior span {
  display: block;
  color: #1e1e1e;
  font-size: 20px;
  font-weight: bold;
  margin-bottom: 5px;
}

.donador #parte-inferior {
  width: 255px;
  height: 222px;
  padding-top: 22px;
  padding-bottom: 22px;
  background-color: #434343;
  border-bottom-right-radius: 8px;
  border-bottom-left-radius: 8px;
  display: grid;
  grid-template-columns: repeat(2, 0fr);
  align-items: center;
  text-align: left;
  overflow: hidden;
}

.donador #parte-inferior h3 {
  width: 205px;
  height: 48px;
  font-size: 17px;
  font-style: italic;
  color: #fff;
  font-weight: normal;
  overflow-wrap: break-word;
  margin-left: 12px;
  padding-top: 17px;
}

.donador img {
  margin-left: 17px;
}

#parte-inferior #boton-contenedor {
  grid-column: span 2;
  margin: 22px auto;
}

#parte-inferior button {
  color: var(--primer-color);
  font-size: 18px;
  font-weight: bold;
  border: none;
  border-radius: 8px;
  width: 163px;
  height: 57px;
  box-shadow: 5px 5px 1px rgba(0, 0, 0, 0.22);
  transition: background-color 0.8s ease, color 0.8s ease;
}

#parte-inferior button:hover {
  cursor: pointer;
  background-color: var(--primer-color);
  color: #fff;
}

/* ------ GUÍA ------------------------------------*/

.btn-guia {
  width: 100%;
  font-size: 56px;
  letter-spacing: 5px;
  color: #3d3d3d;
  font-weight: 600;
  padding-top: 20px;
  margin: 20px auto 100px auto;
}

.btn-guia span {
  display: block;
  width: 450px;
  height: 3px;
  background-color: #3d3d3d;
  border-radius: 38px;
}

#container-guia {
  width: 100%;
  color: #434343;
  font-size: 20px;
  line-height: 1.5;
  text-align: center;

}

.container-texto {
  display: grid;
  grid-template-rows: 1fr;
  grid-template-columns: repeat(3, 1fr);
  gap: 28px;

  justify-content: center;
  align-items: center;
  margin-bottom: 150px;
}

.container-texto-last {
  display: grid;
  grid-template-rows: 1fr;
  grid-template-columns: repeat(2, 1fr);
  gap: 28px;

  justify-content: center;
  align-items: center;
}

.img-card {
  width: 80px;
  height: 80px;
  padding-top: 15px;
  border-radius: 50%;
  background-color: #fff;
  border: solid 2px #3d3d3d;
  margin: auto;
}

.container-texto h2 {
  font-size: 24px;
}

.container-texto p {
  font-size: 20px;
}

.guia-article {
  padding: 40px;
  border-radius: 8px;
  background-color: hsl(25, 100%, 80%);
  box-shadow: 6px 6px 0px hsl(0, 0%, 24%);
  border: 1px solid #3d3d3d;
}

.guia-article a {
  font-weight: 700;
  color: #3d3d3d;
  transition: .5s;
}

.guia-article a:hover {
  font-weight: 700;
  color: #ff7a28;
}

.guia-article img {
  border-radius: 8px;
  transition: .5s;
}

.guia-article img:hover {
  box-shadow: 2px 1px 6px #fff;
}

.guia-article img:active {
  box-shadow: 0 0 0 #fff;
}

.first-section:last-child {
  grid-column: 2 / 3;
}

.art-blue {
  background-color: hsl(204, 100%, 80%);

}

#container-guia h3 {
  font-weight: normal;
  font-size: 36px;
  color: #3d3d3d;
  text-align: center;
  margin: 80px 0;
  padding: 40px;
}

#container-guia h3 span {
  font-weight: 700;
  color: #ff6100;
}

/*---BUSCAR COMEDORES---------------------*/

#buscar-comedores {
  color: white;
  text-align: center;
  margin-bottom: 130px;
}

#buscar-comedores h3 {
  margin: 124px auto 55px auto;
  color: var(--primer-color);
}

#ingresar-comedor {
  height: 957px;
  background-image: url(../imgs/bgi-buscar-comedores.png);
  position: relative;
}

#suma-tu-ayuda {
  position: absolute;
  height: 350px;
  width: 333px;
  top: 354px;
  left: 51px;
}

#suma-tu-ayuda h2 {
  font-size: 62px;
  font-weight: bold;
  height: 218px;
  width: 262px;
  margin: 0 auto 18px auto;
}

#suma-tu-ayuda h4 {
  width: 219px;
  height: 28px;
  font-size: 24px;
  font-weight: normal;
  margin: auto;
}

#suma-tu-ayuda span {
  display: flex;
  margin: 25px auto 0 auto;
}

#suma-tu-ayuda input {
  height: 36px;
  width: 255px;
  background-color: rgba(255, 255, 255, 0.49);
  font-size: 20px;
  font-weight: 500;
  color: rgb(27, 27, 27);
  transition: background-color 0.3s ease;
  border: none;
}

#suma-tu-ayuda input:focus {
  outline: none;
  background-color: hsla(0, 0%, 93%, 0.4);
}

#suma-tu-ayuda button {
  width: 38px;
  height: 38px;
  margin-right: 8px;
}

img[alt="Buscar-Comedor"] {
  width: 38px;
  height: 38px;
  opacity: 0.3;
}

#mapa {
  position: absolute;
  top: 253px;
  left: 436px;
  box-shadow: 61px 43px 1px hsl(193, 61%, 88%, 0.87);
}

/* FORMULARIOS */

.modal {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #111111bd;
  display: flex;
  opacity: 0;
  pointer-events: none;
  transition: opacity 300ms 300ms;
  --transform: translateY(-100vh);
  --transition: transform 300ms;
}

.modal--show {
  opacity: 1;
  pointer-events: unset;
  transition: opacity 300ms;
  --transform: translateY(0);
  --transition: transform 300ms 300ms;
}

.modal__container {
  margin: auto;
  max-height: 90%;
  background-color: #fff;
  border-radius: 6px;
  transform: var(--transform);
  transition: var(--transition);
  display: flex;
  justify-content: center;
  overflow: hidden;
}

.panel-imagen {
  width: 300px;
}

.panel-donar {
  width: 400px;
  background-color: #fff;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 20px;
}

.imagen__quiero-donar {
  width: 300px;
  height: 100%;
}

.registro__seccion-titulos {
  color: hsl(23, 100%, 68%);
  text-align: center;
}

.h2-quiero-donar {
  font-weight: 700;
  font-size: 40px;
}

.h3-quiero-donar {
  font-weight: 500;
  font-size: 13px;
}

.registro__rectangulo {
  width: 100%;
  height: 20px;
  background-color: hsla(23.1, 100%, 89.8%, 0.65);
  border: 2px solid #ffba87;
  border-radius: 2px;
  padding-left: 5px;
  padding-right: 5px;
  outline: none;
  color: #333333;
}

.rectangulo-registro-donacion {
  height: 100px;
  resize: none;
}

.input-donar {
  display: block;
  width: 100%;
  padding-bottom: 10px;
  font-size: 15px;
}

.centrar-texto {
  text-align: center;
}

.contenedor-grid {
  display: grid;
  grid-template-columns: repeat(2, minmax(0, 1fr));
  gap: 20px;
}

.boton-registro {
  width: 100px;
  height: 30px;
  background-color: #ffffffad;
  border: none;
  box-shadow: 0px 0px 10px rgba(195, 195, 195, 0.44);
  color: #ff7a28;
  cursor: pointer;
  transition: all 300ms;
  border-radius: 4px;
}

.boton-registro:hover {
  filter: brightness(0.95);
}

.contenedor-botones--registro {
  display: flex;
  justify-content: center;
  gap: 10px;
}

/* FORMULARIO INGRESAR */
.panel-ingresar {
  width: 480px;
  height: 451px;
  background-color: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
}

.panel-ingresar--contenido {
  background-color: hsla(192.9, 73.4%, 69%, 0.56);
  width: 400px;
  height: 250px;
  border-radius: 12px;
  background-repeat: no-repeat;
  margin-top: 50px;
  box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.3),
    -5px -5px 10px rgba(255, 255, 255, 0.3);
}

.ingresar__rectangulo {
  border-radius: 5px;
  border: none;
  width: 247px;
  height: 34px;
  color: #333333;
  outline: none;
  padding-left: 5px;
  padding-right: 5px;
}

.container-informacion-personal {
  width: 100%;
  height: 100%;
  display: grid;
  grid-template-columns: min-content;
  padding: 50px 0px 5px 83px;
  position: relative;
}

.boton-ingresar-usuario {
  background-color: #fff;
  border: none;
  border-radius: 5px;
  width: 100px;
  color: #ff6100;
  margin: 0 auto;
  height: 40px;
}

.boton-ingresar-usuario:hover {
  filter: brightness(0.95);
  cursor: pointer;
}

.imagen-formulario--ingresar {
  position: absolute;
  top: -100px;
  left: 50%;
  transform: translateX(-50%);
  width: 134px;
}

.cruz-salir-ingreso-usuario {
  position: absolute;
  top: 10px;
  right: 10px;
  border: none;
  cursor: pointer;
  background-color: #fff;
}

.cruz-salir-ingreso-usuario:hover {
  filter: brightness(0.95);
}

/* FIN DE FORMULARIOS */

/* FOOTER */
#footer-top {
  width: 1024px;
  height: 320px;
  background-image: url(../imgs/footer-top.png);
  background-repeat: no-repeat;
  background-position: center;
  margin-top: 50px;
}

#footer-container {
  width: 100%;
  color: var(--light-color);
  background-color: var(--dark-color);
}

#footer-container .footer-columnas {
  width: 100%;
  max-width: 1024px;
  margin: auto;
  display: grid;
  grid-template-columns: 2fr 1fr 1fr;
  grid-gap: 50px;
  padding: 85px 90px;
}

#footer-container .footer-columnas .footer-box div {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  flex-wrap: wrap;
}

.footer-box h3,
.footer-box a {
  color: var(--light-color);
}

#footer-texto-logo {
  transition: 0.5s;
}

#footer-texto-logo:hover {
  color: var(--primer-color);
}

.footer-box h3 {
  margin-bottom: 20px;
  font-size: 22px;
}

.footer-box p {
  line-height: 1.8;
  margin-bottom: 10px;
}

#footer-box-explorar {
  display: flex;
  flex-direction: column;
}

#footer-box-explorar a {
  line-height: 2;
  font-size: 18px;
  transition: 0.5s;
}

#footer-box-explorar a:hover {
  color: var(--primer-color);
}

.footer-box img {
  margin: 20px 25px 0 0;
  border-radius: 50%;
  transition: 0.5s;
}

.footer-box img:hover {
  box-shadow: 1px 1px 30px hsla(0, 0%, 100%, 0.158);
}

.icono:hover img {
  animation: icono 0.5s ease;
}

@keyframes icono {
  from {
    transform: rotate3d(0, 0, 0, 0);
  }

  to {
    transform: rotate3d(0, 1, 0, 360deg);
  }
}

#footer-linea {
  width: 830px;
  height: 2px;
  background-color: var(--light-color);
  margin: auto;
  margin-bottom: 50px;
}

.footer-copy small {
  display: block;
  width: 1024px;
  text-align: center;
  padding-bottom: 20px;
}

/*Tooltip - Footer*/
.tooltip {
  position: relative;
  display: inline-block;
}

.tooltip .tooltiptext {
  visibility: hidden;
  width: 100px;
  background-color: hsla(0, 1%, 13%, 0.349);
  color: #fff;
  font-size: 14px;
  text-align: center;
  border-radius: 8px;
  padding: 5px 0;
  /* Position the tooltip */
  position: absolute;
  z-index: 1;
  top: 130%;
  left: 50%;
  margin-left: -60px;
}

.tooltip:hover .tooltiptext {
  visibility: visible;
}

.tooltip .tooltiptext::after {
  content: " ";
  position: absolute;
  bottom: 100%;
  /* At the top of the tooltip */
  left: 50%;
  margin-left: -5px;
  border-width: 5px;
  border-style: solid;
  border-color: transparent transparent hsla(0, 1%, 13%, 0.349) transparent;
}

/*-----------PERFIL COMEDORES---------------------*/
.perfil-comedor {
  width: 900px;
  height: 900px;
  margin: auto;
}

.header-perfil {
  height: 128px;
  display: flex;
  justify-content: space-between;
  padding-top: 20px;
  font-weight: 500;
}

.perfil-comedor__container {
  width: 95%;
  height: auto;
  margin: auto;
  border: 3px solid hsl(193, 73%, 69%, 0.1);
  border-radius: 8px;
  box-shadow: 10px 6px 10px hsl(193, 73%, 69%, 0.1);
  color: #3d3d3d;
}

.perfil-comedor__header {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  border-bottom: 3px solid hsl(193, 73%, 69%, 0.1);
  border-radius: 8px;
  padding: 30px;
  background-color: hsl(193, 73%, 69%, 0.1);
}

#perfil-comedor__img-logo {
  width: 130px;
  border: 3px solid hsl(193, 73%, 69%, 0.2);
  border-radius: 50%;
  box-shadow: 2px 1px 1px hsl(193, 73%, 69%, 0.2);
  margin: 26px;

}

.perfil-comedor__header h2 {
  font-size: 32px;
}

.perfil-comedor__header p {
  margin-left: 40px;
}

.perfil-comedor__info-add {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  height: 100px;
  font-weight: 500;
}

#info-add__num-urg {
  height: 21px;
}

#perfil__star-container {
  width: 80px;
}

.perfil-comedor__body {
  margin-left: 50px;
  padding-bottom: 50px;
  line-height: 1.5;
}

.perfil-comedor__body ul {
  list-style-type: none;
}

.perfil-comedor__body li {
  width: 100px;
  border-bottom: 3px solid hsl(193, 73%, 69%, 0.1);
  border-radius: 8px;
  padding: 5px;
  background-color: hsl(193, 73%, 69%, 0.1);
}

.perfil-comedor__body p,
.perfil-comedor__body ul,
.perfil-comedor__body h3 {
  margin-bottom: 30px;
}